{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      ignore: [
        "src/**/demo",
        "src/demo/**",
        "src/App.js",
        "src/App.scss",
        "src/components.js",
        "src/ComponentListings.js",
        "src/ComponentListings.scss",
        "src/Demo.js",
        "src/Demo.scss",
        "src/index.js"
      ]
    }
  },
  "plugins": ["transform-decorators-legacy"]
}
