.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
  width: 350px;
}

.input {
  width: 350px;
  margin-bottom: 16px;
}
