@import '../colors.scss';
@import '../extends.scss';

$folder-main: $blue-light;
$folder-secondary: $blue-lighter;

.main {
  display: flex;
  flex-direction: column;
  height: 150px;
  position: relative;
  width: 200px;
}

.tab {
  height: 15%;
  position: relative;

  &Left, &Right {
    box-shadow: 0 4px 8px 0 rgba(87, 71, 81, 0.2);  
    position: absolute;
  }

  &Left {
    background-color: $folder-secondary;
    left: 0;
    height: 100%;
    width: 58%;
  }
  &Right {
    background-color: $folder-main;
    bottom: 0;
    right: 0;
    height: 70%;
    width: 53%;
  }

}

.content {
  background-color: $folder-main;
  box-shadow: 0 4px 8px 0 rgba(87, 71, 81, 0.2);  
  height: 85%;
  padding: 8px;
  position: relative;
  z-index: 1;
}
