@import '../../colors.scss';
@import '../../extends.scss';

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Demo__editor {
  @extend .box-shadow;
}

.Demo__editor,
.Demo__html {
  height: 600px;
  margin-top: 16px;
  width: 450px;
}

.Demo__html {
  border: 1px solid $gray;
}

.HighlightEditorDemo__section {
  padding: 16px;
}
