@import '../colors.scss';
@import '../extends.scss';

.main {
  background-color: $white;
  border: 2px solid $gray-light;
  display: flex;
  flex-direction: column;
}

.editor {
  padding: 16px;
  position: relative;
  flex: 1 1 auto;
}

// Styles the editor container
.editor :global(.DraftEditor-root) {
	@extend .text;
  background: $white;
  font-size: 16px;
  min-height: 200px;
}
// Styles the editor content
.editor :global(.public-DraftEditor-content) {
  min-height: 200px;
}

// The `placeholder` for Draft.js is a blocking div. Therefore,
// when the placeholder is present, we need to make sure that the editor
// is shifted up to where the placeholder is.
//
// We use the adjacent sibling selector to only apply the margin-top shift to the editor
// when the placeholder is present
.editor :global(.public-DraftEditorPlaceholder-root + .DraftEditor-editorContainer) {
  margin-top: -18px;
}

// Changes the placeholder color
.editor :global(.public-DraftEditorPlaceholder-root) {
  color: $placeholder;
}

// Changes the placeholder color on focus
.editor :global(.public-DraftEditorPlaceholder-hasFocus) {
  color: $gray-light;
}

// This makes sure that if we click on the placeholder, it will still
// focus the editor
.editor :global(.public-DraftEditorPlaceholder-inner) {
  pointer-events: none;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
  display: none;
}
