@import '../colors.scss';
@import '../extends.scss';

.main {
	@extend .text;
  background: 0;
  border: 0;
  color: $brand-secondary;
  cursor: pointer;
  outline: 0;
}

.active {
  color: $brand-tertiary;
}
