@import '../colors';
@import '../extends';

.main {
	@extend .text;
  background-color: $white;
  border: 1px solid black;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
  z-index: 100;
}
