@import '../colors.scss';
@import '../extends.scss';

.main {
  @extend .text;
  background: 0;
  border: 0;
  color: $brand-primary;
  cursor: pointer;
  outline: 0;
  transition: color 150ms ease;
  &:hover {
    color: $brand-primary-light;
  }
}

.disabled {
  color: $disabled;
  cursor: not-allowed;
  &:hover {
    color: $disabled;
  }
}
