@import '../colors.scss';

.main {
  background: 0;
  cursor: pointer;
  outline: 0;
  transition: color 250ms ease-out;
  &:hover {
    background-color: $hover;
  }
}

.disabled {
  background-color: $disabled;
}
