@import '../colors';

.wave {
  align-items: center;
  display: flex;
  justify-content: center;

  &-small {
    width: 50px;
    height: 27px;
  }

  &-medium {
    width: 100px;
    height: 54px;
  }

  &-large {
    width: 150px;
    height: 81px;
  }
}

.rect {
  background-color: $brand-secondary;
  height: 100%;
  display: inline-block;

  &-small { width: 6px }
  &-medium { width: 12px }
  &-large { width: 18px }

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.wave .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.wave .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.wave .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.wave .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
