@import '../../colors';

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.header {
  margin-bottom: 24px;
  border-bottom: 1px solid $gray;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor {
  margin: 16px;
}
