@import '../colors';

.main {
  align-items: center;
  background-color: $gray-lightest;
  border: 2px solid $gray-light;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 8px 0;
  position: relative;
}

.message {
  background-color: $gray-lightest;
  text-align: center;
  flex: 1 1 auto;
}

.closeButton {
  color: $gray-light;
  margin-top: 2px;
}

.default { color: $gray }
.error { color: $red }
.success { color: $green }
.warning { color: $orange-light }
