@import '../colors.scss';
@import '../extends.scss';

.main {
  @extend .box-shadow;
  display: flex;
  flex-direction: column;
  height: 325px;
  padding: 16px;
  position: relative;
  width: 600px;
}

.label {
  color: $gray;
}

.pad {
  background-color: $white;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

.footer {
  align-items: center;
  border-top: 2px dashed $gray;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  width: 100%;
}
