@import '../colors.scss';

.main {
  background: 0; 
  border: 2px solid $brand;
  color: $brand;
  cursor: pointer;
  outline: 0;
  padding: 6px 12px;
}

.pill {
  border-radius: 16px;
}

.active {
  color: $white;
  background-color: $brand;
}

.disabled {
  color: $disabled;
  border-color: $disabled;
  cursor: not-allowed;
}
