@import '../colors.scss';

.main {
  background: 0; 
  border: 2px solid $brand-primary;
  color: $brand-primary;
  cursor: pointer;
	font-weight: lighter;
  outline: 0;
  padding: 8px 16px;
}

.pill {
  border-radius: 30px;
}

.active {
  color: $white;
  background-color: $brand-primary;
}

.disabled {
  color: $disabled;
  border-color: $disabled;
  cursor: not-allowed;
}
