$blue: #2980B9;
$blue-light: #3498DB;
$white: #FFF;
$gray: darken(#DADFE1, 5%);
$gray-light: #DADFE1;
$gray-dark: #62676A;

$brand: $blue;
$brand-light: $blue-light;
$error: #CF000F;
$disabled: darken($gray, 5%);
$hover: #F9690E;
$placeholder: $gray;
$text: #282828;
$warning: #F39C12;
