@import './colors.scss';

.main {
  position: relative;
  padding: 16px;
}

.title {
  margin: 0;
}

.list {
  margin: 16px 0;
}

.item {
  background: 0;
  border: 0;
  color: $gray-dark;
  display: block;
  margin: 4px 0;
  text-align: left;
  outline: 0;
  &:hover {
    color: $blue; 
    cursor: pointer;
  }
}
