.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.spinner {
  margin: 8px;
}

.blue { background-color: blue }
.red { background-color: red }
.green { background-color: green }
