@import '../colors.scss';
@import '../extends.scss';

.main {
	@extend .text;
  font-style: italic;
  font-weight: normal;
  padding: 4px;
  width: 100%;
}

.error { color: $error }
.warning { color: $warning }
