@import '../colors.scss';

.main {
  position: relative;
}

.input {
  background: 0;
  border: 0;
  border-bottom: 2px solid $brand-primary;
  outline: 0;
  padding: 4px 2px;
  width: 100%;
}

.disabled {
  border-bottom: 2px dotted $disabled;
  cursor: not-allowed;
}

.error {
  border-bottom-color: $error;
}

.warning {
  border-bottom-color: $warning;
}

.requiredAsterisk {
  color: $error;
  font-size: 20px;
  position: absolute;
  top: -4px;
  right: -4px;
}
