@import '../colors.scss';
@import '../extends.scss';

.main {
  position: relative;
}

.input {
	@extend .text;
  background: 0;
  border: 0;
  border-bottom: 1px solid $brand-secondary-light;
  font-weight: normal;
  outline: 0;
  padding: 4px 2px;
  width: 100%;

  &:focus {
    border-bottom-color: $brand-secondary;
  }
}

.disabled {
  color: $brand-secondary-lighter;
  border-bottom-color: $disabled;
  cursor: not-allowed;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $brand-secondary-lighter;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $brand-secondary-lighter;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $brand-secondary-lighter;
  }

}

.error {
  border-bottom-color: $error;
}

.warning {
  border-bottom-color: $warning;
}

.requiredAsterisk {
  color: $error;
  font-size: 20px;
  position: absolute;
  top: -4px;
  right: -4px;
}
